/* Import P5R theme variables - must be first */
@import './styles/variables.css';
@import './styles/animations.css';
@import './styles/transitions.css';
@import './styles/galgame.css';

/* Global styles for Live2D frontend - P5R/Galgame Theme */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: var(--p5r-font-ui);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--p5r-black);
}
